* {

  margin:0;
  padding:0;
  box-sizing:border-box;
  font-size: .8rem;


}

.notify small, .notify{
  cursor:default;
  font-size:.6rem;
}


.App {
  position:absolute;
  width:100%;
  min-height:100%;
  display:flex;
  flex-direction:column;
  overflow:hidden;
  overflow-y:auto;
}


.sub-labes{
  margin:10px;
}

.drp-dwn-btn-frame{
  display:flex;
  justify-content:center;
  align-items:center;
}
.drp-dwn-btn{
  background-color:rgba(242,24,24,.7);
  background:rgba(242,24,24,.7);
  max-width:150px;
  font-weight:bolder;
  z-index:1111;

}


.subscribe input ,.report-password textarea,.report-password select{
    -webkit-text-fill-color:#000;
  color:#000;
}

.cs-imgs{
  width:100%;
  max-height:225px;
}

.x-link{
  text-shadow:0 0 5px red;
   -webkit-text-fill-color:red;
  color:red;
  font-weight: bolder;
  text-decoration-color: gold;
  cursor:pointer;
}

.Header {
  flex:1;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;

}
.header-slide-btn{
  display:flex;
  justify-content:center;
  align-items:center;
  border-radius:100%;
  padding:5px;
  transition:1s ease-in-out;
  margin:5px;
}


.header-slide-btn i{
font-size:2rem;
}

.Main {
  flex:1;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;

}

.Footer {
  flex:1;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;

}

.ad{
  margin:30px 0px;
}


.link-x{
  display:flex;
  justify-content:flex-start;
  align-items:center;
  padding-left:15px;
  padding-bottom:8px;
  cursor:pointer;
}
.link-x:focus,.link-x:hover{
  text-decoration:underline;
  text-underline-position:under;
  
}

.theme-light,.theme-light:hover,.theme-light:focus{
  border:none;
  background-color:#fff;
  background:#fff;
  -webkit-text-fill-color:#000;
  color:#000;
  font-weight:bolder;
}


.theme-dark,.theme-dark:hover,.theme-dark:focus{
  border:none;
  background-color:#000;
  background:#000;
  -webkit-text-fill-color:#fff;
  color:#fff;
  font-weight:bolder;
}


.theme-comp-light,.theme-comp-light:hover,.theme-comp-light:focus{
  border:none;
  background-color:#0d0d0d;
  background:#0d0d0d;
  -webkit-text-fill-color:#fff;
  color:#fff;
  font-weight:bolder;
}

.theme-comp-dark,.theme-comp-dark:hover,.theme-comp-dark:focus{
  border:none;
  background-color:#111;
  background:#111;
  -webkit-text-fill-color:#fff;
  color:#fff;
  font-weight:bolder;
}





.theme-comp2-light,.theme-comp2-light:hover,.theme-comp2-light:focus{
  border:none;
  background-color:transparent;
  background:transparent;
  -webkit-text-fill-color:#000;
  color:#000;
  font-weight:bolder;
}

.theme-comp2-dark,.theme-comp2-dark:hover,.theme-comp2-dark:focus{
  border:none;
  background-color:transparent;
  background:transparent;
  -webkit-text-fill-color:#fff;
  color:#fff;
  font-weight:bolder;
}


/*.theme-txt-light, */


.theme-txt{
  -webkit-text-fill-color:#fff;
  color:#fff;
}
.theme-dark small{
  -webkit-text-fill-color:#fff;
  color:#fff;
  text-shadow:0 0 1px #fff;
  font-weight:bolder;
}

.theme-light small{
  -webkit-text-fill-color:#000;
  color:#000;
  text-shadow:0 0 1px #000;
  font-weight:bolder;
}

.theme-dark .fas{
  text-shadow:0 0 1.5px #fff;
}

.theme-light .fas{
  text-shadow:0 0 1.5px #000;
}

.theme-light-bulb{
-webkit-text-fill-color:yellow;
color:yellow;
animation:glow .5s linear infinite;
}



@keyframes glow{
  from{
    text-shadow:0 0 8px #000;
  }

  to{

    text-shadow:0 0 3px #000;
  }
}



/*phone up*/
@media screen and (max-width:600px){

  .cs-imgs{
  width:100%;
  max-height:150px;
}

}

/*phone tilt*/
@media screen and (max-width:900px) and (min-width:600px) and (max-height:600px){
  
}

/*tablet up and tilt*/
@media screen and (max-width:1380px) and (min-width:700px) and (max-height:1380px) and (min-height:700px){
  
}





















/*


@media screen and (max-width:600px){

}

@media screen and (max-width:900px) and (min-width:600px) and (max-height:600px){
  
}

@media screen and (max-width:1380px) and (min-width:700px) and (max-height:1380px) and (min-height:700px){
  
}

*/