

.merch{
	min-width:100%;
	min-height:200%;
	display:flex;
	flex-direction:column;
	
}

.merch-btn-h{
	min-width:100%;
	display:flex;
	justify-content:center;
	align-items:center;
}


.merch-btn{
	max-width:200px;
	background:#483839;
	background-color:#483839
}