

.merch{
	min-width:100%;
	min-height:200%;
	display:flex;
	justify-content:center;
	align-items:center;
	flex-direction:column;
	
}

.merch-btn-h{
	min-width:100%;
	display:flex;
	justify-content:center;
	align-items:center;
}


.merch-btn{
	max-width:200px;
	background:linear-gradient(to top right,#200 50%,transparent);
	background-color:linear-gradient(to top right,#200 50%,transparent);
	-webkit-text-fill-color:azure;
	color:azure;
	font-weight:bolder;
	border:double rgba(250,250,250,.5);
	border-top-right-radius:0;
	border-top:none;
	border-right:none;
	box-shadow:0 0 5px #666;
}

